[MASTER]
disable=
    C0116, # missing-function-docstring
    C0200, # consider-using-enumerate
    R0913, # too-many-arguments
    R0914, # too many local variables
    W0622, # redefined-builtin
    W1514, # unspecified-encoding
